/*
-------------------- CSS for basic HTML elements-------- 
*/
body{
	padding-top: 100px;
}
a:hover
{
	text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/*
---------------------Navbar classes---------------------
 Navbar is MENU on TOP of screen.
 Classes below are used for Navbar. 
*/
@keyframes slidein {
  from {
  /*
  It moves element from RIGHT to LEFT
  Applies to Navbar
  */
  left: 100%;
   opacity: 0;
  }

  to {
  left: 0%;
  opacity: 1;
  }
}
.navbar{
	/*
  It runs animaton slidein for Navbar.
  */
  opacity:0.3;
	animation-duration: 2s;
  animation-name: slidein;
} 
.navbar:hover{
  /*
  It shows Navbar after hover
  */
	opacity:1;
} 
.nav-link {
  opacity:1;
}
.nav-item
{
  opacity:1;
}
/*----------------- end of navbar classes-----------------*/
.card{
  /*
  Borders in Bootstrap Cards are not used in this project, therefore are set to 0 here.
  */
	border:0px;
}
.img_link
{
  /*
  It applies for images used in links for Wikipedia and Social Media
  */
	width: 100px;
	height: 100px;
	text-align: center;
}



/* class zoomable - it allows us to zoom element. It applies to every "zoomable" element on page, so we avoid class repetation */
.zoomable:hover
{
transform: scale(1.1) ;
z-index: +1;
transition-duration: 3s, 1s;
transition-property: transform;
}
/* zoomable-150 - make element even bigger*/
.zoomable-150:hover
{
transform: scale(1.5) ;
z-index: +1;
transition-duration: 3s, 1s;
transition-property: transform;
}
/* zoomable-200 makes element 2 times bigger*/
.zoomable-200:hover
{
transform: scale(2) ;
z-index: +1;
transition-duration: 3s, 1s;
transition-property: transform;
}

/* some opacity class*/
.opacity-0
{
  /*

  Fully invissible
  It is the same as .invissible from Bootstrap 
  */
  opacity : 0 ;
}
.opacity-25
{
  /*
  almost invissible
  */
  opacity : 0.25 ;
}
.opacity-50
{
  /*
  half vissible
  */
  opacity : 0.50 ; 
}
.opacity-75
{
  /*
  Almost vissible
  */
  opacity : 0.75 ;  
}
.opacity-100
{
  /*
  Fully vissible
  It is the same as .vissible from Bootstrap
  */
  opacity : 100 ;
}
@keyframes  opacity-anime{
    0% {
      opacity: 0;
      /*transform: scale(0);*/
    }
    100% {
      opacity: 1;
      /*transform: scale(1);*/
    }
}
.opacity-animated
{
  animation-name: opacity-anime;
  animation-duration: 20s;
  animation-timing-function: linear;
}
/* class short - to cut photos */
.short-300
{
  max-height: 300px;
}

@keyframes  apear_from_nowhere{
/*
It is animation that set elements on screen during scrolling
It is used in script.js in $(window).scroll(function(){
 $(window).scroll( in. /js/script.js
*/
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes  backgound-move
{
    /*
    Animation moves background from LEFT to RIGHT and then again to START point on LEFT side
    It aplies to every section 
    */
    0% {
      background-position: 0%;
    }
    50% {
      
      background-position: 100%;
    }
    100%{
      background-position: 0%;   
    }
}

section 
{
    /* 
    Creates the parallax scrolling effect 
    */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    It runs animation backgound-move so background moves from LEFT to RIGHT and BACK 
    */
    animation-name: backgound-move;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}